
*{
    padding: 0;
    margin: 0;
    font-family: 'Verdana', sans-serif;
    color: black;
    line-height: 2;
    font-size: 13px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/* ******************HOME PAGE *******************************/
/**navbar**/
.navbar{
    background-color: #634ED4;
    height: 60px;
    width: 100vw;
    padding: 5px;
}
.logo{
    height: 40px;
}
.logo-txt{
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
    color: aliceblue;
}

.login-btn,.sign-up-btn{
    border: none;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    background-color: #00ffffd1;
    transition: all 0.6s ease;
}
/**Hero Section**/
.hero-section{
    height: 90vh;
    width: 100vw;
    background-color: #23134d;
    padding: 4%;
}
.primary-title{
    
    /*color: #3A59D1;*/
    color: aliceblue;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 25px;
}
.hero-img{
    height: 400px;
    border-radius: 50% ;
    box-shadow: 0 0 10px #5542c1;
    transition: all 1s ease;
}
.hero-img:hover{
transform: scale(1.08);
}
.home-txt{
    color: aliceblue;
    font-size: medium;
    margin-left: 1%;
}
.shop-btn{
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #00ffffd1;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(22, 11, 76, 0.854);
    transition: all 0.6s ease;
}
.shop-btn:hover ,.price-btn:hover,.login-btn:hover,.sign-up-btn:hover{
    transform: scale(1.05);
}
#show-section{
    
    background: linear-gradient(145deg,#1B1A55,#5542c1);
    padding: 4%;
}
.product-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(14, 7, 48);
}
.price-btn{
    border: none;
    padding: 6px;
    background-color: #00ffffd1;
    width: 200px;
    border-radius: 20px;
    color: black;
    margin-top: 1%;
    margin-bottom: 7%;
    box-shadow: 0 0 20px rgb(14, 7, 48);
    transition: all 0.6s ease;
}
.colored-txt{
    color: #00ffffd1;
}
.products-row {
    text-align: center;
    vertical-align: middle;
}
/*********************Login Page********************************/
#login-page{
    height: 100vh;
    width: 100vw;
    background-color: #23134d;
    background-image: url(images/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
}

.login-page-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: solid 2px #5542c1;
}

.login-img{
    width: 250px;
    height: 250px;
}
.label{
    color: white;
    font-size: 18px;
}
.login-input{
    padding: 3px;
    margin: 8px 0px;
    border-radius: 10px;
    border: transparent;
}
.login-input:hover{
    border-color: #00ffffd1;
}
.login-page-btn{
    border: none;
    width: 80px;
    padding: 4px;
    border-radius: 10px;
    background-color: #5542c1;
    margin: 14px 0;
}
.login-page-btn:hover{
    cursor: pointer;
}
.login-page-link{
    color: #00ffffd1;
}
/********************Sign Up *******************************************/
#sign-up-page{
    height: 100svh;
    width: 100vw;
    background-color: #23134d;
    background-image: url(images/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
    padding: 7% 0;
    position: relative;
}
.gender{
    display: block;
    color: aliceblue;
}
.sign-up-page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: solid 2px #5542c1;
     width: 90vw;
    max-width: 500px;
    box-sizing: border-box;
}
/***********************Commande Produit page********************************/
#product-order{
    height: 100vh;
    width: 100vw;
    background-color: #23134d;
    background-image: url(images/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
}
.product-order-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: solid 2px #5542c1;
}
.product-page-img{
    width:280px; 
    height:280px;
    border-radius: 20px;
    padding-right: 2%;
}
.product-img-box {
    padding-right: 30px;
}
/* Footer */
footer {
  background-color: #634ED4;
    width: 100vw;
    padding: 5px 0;
}
.cptxt{
    text-align: center;
    color: aliceblue;
}